table {
  border-collapse: collapse;
  width: 250px;
}

td {
  border: 3px black solid;
  width: 100px;
  text-align: center;
  font-size: medium;
}
th {
  border: 3px black solid;
  background-color: bisque;
  font-size: large;
}
