table {
  border-collapse: collapse;
  width: auto;
}

td {
  border: 3px black solid;
  width: 80px;
  text-align: center;
  font-size: medium;
  word-break: keep-all;
}
th {
  border: 3px black solid;
  background-color: rgb(210, 231, 182);
  font-size: large;
  word-break: keep-all;
}
.table-division {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.button-division {
  margin-right: 20px;
}
.detail {
  background-color: yellow;
}