<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザー表</title>
    <link rel="stylesheet" href="userList.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
  </head>
  <body>
    <div id="vm">
      <h1>ユーザー表</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>年齢</th>
          <th></th>
        </tr>
        <tr
          v-for="(personality,index) in personalities"
          :key="personality.id"
          v-bind:class="{'selectedDetail':selectedPersonality==personality}"
        >
          <td>{{ personality.id }}</td>
          <td>{{ personality.name }}</td>
          <td>{{ personality.age }}</td>
          <td>
            <button v-on:click="showDetail(index)">詳細</button>
          </td>
        </tr>
      </table>
      <h5>---詳細---</h5>
      <button v-on:click="addEdit()">編集</button>
      <button  v-on:click="decision(indexCopy)">保存</button>
      <button v-on:click="addiction(indexCopy)">追加</button>
      <span class="editing">{{message}}</span>
      <div class="field">
        <table class="field-left">
          <tbody>
            <tr>
              <th>ID</th>
              <td>
                <template v-if="isEdit">
                  <span v-text="selectedPersonality.id" ></span>
                </template>
                <template v-else> {{selectedPersonality.id}} </template>
              </td>
            </tr>
            <tr>
              <th>名前</th>
              <td>
                <template v-if="isEdit">
                  <input v-model="selectedPersonality.name" >
                </template>
                <template v-else> {{selectedPersonality.name}} </template>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="field-right">
          <tbody>
            <tr>
              <th>年齢</th>
              <td>
                <template v-if="isEdit">
                  <input v-model="selectedPersonality.age" />
                </template>
                <template v-else> {{selectedPersonality.age}} </template>
              </td>
            </tr>
            <tr>
              <th>身長</th>
              <td>
                <template v-if="isEdit">
                  <input v-model="selectedPersonality.height" />
                </template>
                <template v-else>{{selectedPersonality.height}}</template>
              </td>
            </tr>
            <tr>
              <th>体重</th>
              <td>
                <template v-if="isEdit">
                  <input v-model="selectedPersonality.weight" />
                </template>
                <template v-else> {{selectedPersonality.weight}} </template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      let vmMain = new Vue({
        el: '#vm',
        data: {
          selectedPersonality: {
            ID: '',
            name: '',
            age: '',
            height: '',
            weight: '',
          },

          personalities: [
            {
              id: 1,
              name: '岡山 太郎',
              age: '17',
              height: '182',
              weight: '103',
            },
            {
              id: 2,
              name: '鳥取 太郎',
              age: '18',
              height: '171',
              weight: '66',
            },
            {
              id: 3,
              name: '山田 花子',
              age: '19',
              height: '170',
              weight: '65',
            },
          ],
          isEdit: false,
          message: '',
          indexCopy: '',
          touchCount: '2',
        },
        methods: {
          showDetail: function (index) {
            console.log(index);
            this.selectedPersonality = Object.assign({},this.personalities[index]);
          },
          addEdit: function () {
            this.isEdit = true;
            this.message = '編集中';
          },
          decision: function (indexCopy) {
            this.$set(this.personalities,indexCopy,this.selectedPersonality);
            this.isEdit = false
          },
          addiction: function (indexCopy) {
            this.message = '追加中';
            this.isEdit = true
            this.touchCount++;
            this.indexCopy = this.touchCount;
            console.log(this.indexCopy)
            this.personalities[indexCopy] = this.selectedPersonality
            this.personalities[indexCopy].id = this.touchCount
            this.personalities[indexCopy].id++
            this.selectedPersonality = Object.assign({},this.selectedPersonality)
            console.log(this.personalities)
          }
        },
      });
    </script>
  </body>
</html>
