table {
  border-collapse: collapse;
}
td {
  border: 3px black solid;
  width: 50px; 
  height: 5px;
  text-align: center;
  font-size: 10px;
}
.field{
  display: flex;
}
/* クラス名はケバブケースを推奨としたいです */
.field1{
  width: 100px;
}
.field2{
  width: 70px;
  margin:5px;
}
/* どのようなセルか？またはどんなCSSを当てるか？からクラス名を決めるのも良いと思います */
.cell{
  width: 20px;
}