table{
  border-collapse: collapse;
}
/* 以下、共通部分が大半を占めているので共通箇所は th, tdなどのようにまとめるとスッキリします */
th{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 90px;
  height: 30px;
  background-color:lightyellow ;
}
.ID{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
}
.old{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 30px;

}
td{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px; 
}
.detail{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
}
.tr{
  border: 3px black solid;
  font-size: 20px;
  text-align: center;
  width: 90px;
  height: 30px;
  background-color:lightyellow ;
}
.b{
  display:flex;
}
.c{
  margin-right: 30px;
}
/* display:flexは親要素に書いたら子要素が横並びになる */
/* ↑ メモは消しておきましょう */